@charset 'utf-8';
header > img {
    width: 270px;
    margin-left: 200px;
    padding-top: 48px;
}
h1 > img {
    width: 728px;
    margin-left: 100px; 
    margin-top: 50px; 
}
p.ue {
    color:#333333;
    font-size:24px;
    font-family:YuGothic;
    margin-left: 100px;
    margin-top: 63px;
}
h2 > img {
    width: 483px;
    opacity: 0.2;
    margin-left: 210px;
    margin-top: 150px;
}
h2 > span {
    display: block;
    color:#333333;
    font-size:24px;
    letter-spacing: 2px;
    font-family:YuGothic;
    margin-left: 320px;
    margin-top: -25px;
}
p.shita{
    color:#333333;
    font-size:14px;
    font-family:YuGothic;
    max-width: 602px;
    margin-left: 250px;
    margin-top: 40px;
}
aside.button > img {
    width: 178px;
    float: right;
}
aside.pagetop{
    color:#333333;
    font-size:12px;
    font-family:YuGothic;
    transform: rotate(50deg);
    float: right;
}
